<div class="bg-gradient-to-br from-slate-800 to-gray-900 min-h-screen">
  <app-navbar></app-navbar>
  <div *ngIf="isResourcesLoading()" class="text-center pt-28">
    <p-progress-spinner
      strokeWidth="8"
      fill="transparent"
      animationDuration=".5s"
      [style]="{ width: '25px', height: '25px' }"
    />
  </div>
  <main
    class="columns-1 sm:columns-2 lg:columns-3 xl:columns-4 gap-4 pt-28 p-12"
  >
    <div
      *ngFor="let resource of userResources(); let i = index"
      class="mb-8 break-inside-avoid group relative animate-fadeInFromBottom"
    >
      <!-- Card container -->
      <div class="rounded-lg overflow-hidden relative group">
        <!-- Image container with consistent height -->
        <a
          [href]="resource.url"
          target="_blank"
          rel="noopener noreferrer"
          class="block"
        >
          <div
            [ngClass]="{
              'h-auto': i % 3 !== 0,
              'h-[400px]': i % 3 === 0
            }"
            class="overflow-hidden"
          >
            <!-- Image -->
            <img
              [src]="resource.thumbnail"
              [alt]="resource.title"
              loading="lazy"
              class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105"
            />
            <!-- Title overlay -->
            <p
              class="absolute bottom-0 left-0 right-0 bg-gradient-to-t from-black to-transparent text-white text-sm font-primary font-bold p-2"
            >
              {{ resource.title }}
            </p>
          </div>
        </a>
        <div
          class="absolute inset-0 bg-black bg-opacity-75 text-white flex items-center justify-center text-center opacity-0 transition-opacity duration-300 group-hover:opacity-100 p-4 pointer-events-none"
        >
          <p class="text-sm">{{ resource.domain }}</p>
        </div>
      </div>
      <p class="text-sm text-gray-400 pl-2">{{ resource.description }}</p>
      <!-- Tags below the image -->
      <div class="flex flex-wrap gap-2 mt-2">
        <span
          *ngFor="let tag of resource.tags"
          class="bg-accent text-black font-secondary text-xs font-medium px-3 py-1 rounded-full shadow-md"
        >
          {{ tag }}
        </span>
      </div>
    </div>
  </main>
  <app-pagination
    [totalRecords]="totalResources()"
    (pageChange)="loadPage($event)"
  ></app-pagination>
</div>
